.section {
  min-height: 100vh;
}
.section .container-fluid {
  height: 100%;
  padding: 0;
}
.section .container-fluid .main-nav-bar {
  display: inline-block;
  padding: 20px;
  z-index: 2;
  box-shadow: 20px 5px 100px #808080;
  background-color: #f8f8ff;
  min-height: 100vh;
  height: inherit;
}
.section .container-fluid .main-nav-bar .admin-information img {
  height: 100px;
  margin-top: 50px;
  width: 100px;
}
.section .container-fluid .main-nav-bar .admin-information span {
  display: block;
}
.section .container-fluid .main-nav-bar .admin-information .name {
  margin-top: 40px;
  padding: 0;
  height: 50%;
}
.section .container-fluid .main-nav-bar .nav-bar {
  margin-top: 40%;
}
.section .container-fluid .main-nav-bar a {
  margin-top: 20px;
  width: 100%;
  display: block;
  cursor: pointer;
  font-weight: 450;
  background-color: transparent;
  border: none;
  padding-left: 50px;
}
.section .container-fluid .content {
  display: inline-block;
  min-height: 100vh;
  height: 100%;
  background-color: #e3e8e6;
  padding: 0 60px;
}
