{% extends "base.html" %}
{% block content %}
<div class="bg_of_basket container-fluid">
  <div class="basket_div container">
    {% if list_of_items == []%}
    <h1 style="height: 500px;width: 100%;color:#fff;padding-top: 250px;" class="text-center">Корзина пуста...</h1>
    {% endif %}
    {% for items, size in list_of_items %}
    <a href="/product/{{items['id']}}" style="text-decoration: none;width: inherit;height: inherit;">
      <div class="div_of_goods">
        <div class="img_div" style="padding-top: 10px;margin-left: 40px; width:35%"><img
            src="../static/img/products-img/{{items['src_of_img']}}" alt="" style="border-radius:10px;width: 100%;">
        </div>
        <div class="about_div" style="position: absolute;">
          <div class="name" style="padding-top: 50px;">
            <h1>{{items['name_of_product']}}</h1>
          </div>
          <div class="about"><span>{{items['about_product']}}</span></div>
          <div class="size">
            <h3>{{size}}</h3>
          </div>
          <div class="price">
            {% if items['discount'] != None and items['discount'] != '' %}
            <h6 style="color: #ff7373;">{{items['discount']}}руб.
              -{{ ((((items['price_product'] | int) - (items['discount'] | int)) / (items['price_product'] | int)) * 100) | int}}%
            </h6>
            {% else %}
            <h6 style="color: #ff7373;">{{items['price_product']}}руб.</h6>
            {% endif %}
          </div>
          <a href="/basket_item_delete/{{items['id']}}/{{size}}" class="btn btn-danger"
            style="margin-top: 30px;">Удалить из корзины</a>
        </div>
      </div>
    </a>
    {% endfor %}
  </div>
</div>
{% endblock %}