  <!-- HELP -->
  <div class="container-fluid help">
    <div class="wrapper">
      <div class="wrapper-block">
        <div class="container">
          <div class="row">
            <div class="col-md-1 col-sm-12 text-center">
              <div class="wrapper">
                <div class="wrapper-block"><img src="../static/img/message.png" alt=""></div>
              </div>
            </div>
            <div class="col-md-6 col-sm-12">
              <h3>ВАМ НУЖНА ПОМОЩЬ?<br><span>У вас есть какие- либо вопросы или вам нужна помощь с заказом? Дайте нам
                  знать!</span></h3>
            </div>
            <div class="col-md-5 col-sm-12 text-center">
              <div class="wrapper">
                <div class="wrapper-block"><button>Сделать запрос</button></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- CLOSE HELP -->

  <div class="container-fluid footer">
    <div class="container">
      <div class="wrap">
        <div class="wrap-block">
          <div class="row">
            <div class="col-md-6 first">
              <a href="">
                <div class="number">+79047698405</div>
              </a>
              <a href="">
                <div class="address time-of-work">
                  <span>Россия, республика татарстан, альметьевск</span>
                  <h4>мы работаем с 11:00 до 22:00</h4>
                </div>
              </a>

              <div class="social">
                <span>МЫ в соц сетях</span>
                <a href=""><img src="" alt=""></a>
                <a href=""><img src="" alt=""></a>

              </div>
            </div>
            <div class="col-md-6 second">
              <a href="">
                <div class="about-us">О нас</div>
              </a>
              <a href="">
                <div class="policy_and_privacy">Политика и конфидециальность</div>
              </a>
              <a href="">
                <div class="payment_and_delivery">Оплата и доставка</div>
              </a>
              <a href="">
                <div class="reviews">отзывы</div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>