{% block header %}
<!-- HEADER -->
<div class="container-fluid">
  <div class="container">
    <div class="inner_header">
      <div class="wrap">
        <div class="wrap-block">
          <div class="first_logo_div col-md-4">
            <img src="../static/../static/img/mian_logo_img.png" alt="" class='img-of-logo'>
            <h1 class='logo_name'>street 23</h1>
          </div>

          <div class="second_logo_div col-md-4">
            <div class="finder_container">
              <input type="text">
              <img src="../static/../static/img/finder_logo.png" alt="" class='img_of_search'>
            </div>
          </div>
          <div class="thirth_logo_div">
            <div class="personal_accaunt">
              <a href="" class="profile_logo_link">
                <img src="../static/../static/img/profile_logo.png" alt="" class='profile_logo'>
              </a>
              <a href="" class="img_of_basket_link">
                <img src="../static/../static/img/basket_logo.png" alt="" class='img_of_basket'>
                <img src="../static/../static/img/product_frame.png" alt="" class='product_count'>
              </a>
              <a href="" class="amount_value_link">
                <span class='amount_value'>999$</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- CLOSE HEADER -->

<!-- NAV BAR -->
<div class="container-fluid nav_bar">
  <div class="container nav_place">
    <div class="wrap">
      <div class="wrap-block">
        <div class="text-center">
          <a href="" class="link_of_nav_bar blog">Блог</a>
          <a href="" class="link_of_nav_bar sales">Скидки</a>
          <a href="" class="link_of_nav_bar male">Мужское</a>
          <a href="" class="link_of_nav_bar female">Женское</a>
          <a href="" class="link_of_nav_bar accessories">Аксессуары</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- CLOSE NAV BAR -->
{% endblock %}