{% extends "base.html" %}
{% block content%}
<!-- CAROUSEL -->
<div class="container-fluid carousel-bg">
  <div class="container">
    <div class="wrap">
      <div class="wrap-block">
        <div id="carousel" class="carousel slide" data-ride="carousel">
          <!-- Индикаторы -->
          <ol class="carousel-indicators">
            <li data-target="#carousel" data-slide-to="0" class="active"></li>
            <li data-target="#carousel" data-slide-to="1"></li>
            <li data-target="#carousel" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img class="img-fluid" style='width:45%;display: inline-block; max-height: 500px;'
                src="../static/img/carousel-img/1-carousel-img.png" alt="...">
              <div class="car" style="width: 45%;display: inline-block;color: #fff;height:inherit;font-size:16px">
                Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является
                стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник
                создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem
                Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн.
                Его популяризации в новое время послужили публикация листов Letraset с образцами Lorem Ipsum в 60-х
                годах и, в более недавнее время, программы электронной вёрстки типа Aldus PageMaker, в шаблонах которых
                используется Lorem Ipsum.
              </div>
            </div>
            <div class="carousel-item">
              <img class="img-fluid" style='width:45%;display: inline-block; max-height: 500px;'
                src="../static/img/carousel-img/2-carousel-img.png" alt="...">
              <div class="car" style="width: 45%;display: inline-block;color: #fff;height:inherit;font-size:16px">
                Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является
                стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник
                создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem
                Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн.
                Его популяризации в новое время послужили публикация листов Letraset с образцами Lorem Ipsum в 60-х
                годах и, в более недавнее время, программы электронной вёрстки типа Aldus PageMaker, в шаблонах которых
                используется Lorem Ipsum.
              </div>
            </div>
            <div class="carousel-item">
              <img class="img-fluid" style='width:45%;display: inline-block; max-height: 500px;'
                src="../static/img/carousel-img/2-carousel-img.png" alt="...">
              <div class="car" style="width: 45%;display: inline-block;color: #fff;height:inherit;font-size:16px">
                Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является
                стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник
                создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem
                Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн.
                Его популяризации в новое время послужили публикация листов Letraset с образцами Lorem Ipsum в 60-х
                годах и, в более недавнее время, программы электронной вёрстки типа Aldus PageMaker, в шаблонах которых
                используется Lorem Ipsum.
              </div>
            </div>
          </div>
          <!-- Элементы управления -->
          <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Предыдущий</span>
          </a>
          <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Следующий</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- CLOSE CAROUSEL -->

<!-- BRANDS -->
<div class="container-fluid comapany_of_sell">
  <div class="container">
    <div class="wrap">
      <div class="wrap-block text-center">
        <div class="jordan-logo brands-logo">
          <a href=""><img src="../static/img/firms-logo/jordan_logo.png" alt=""></a>
        </div>
        <div class="adidas-logo brands-logo">
          <a href=""><img src="../static/img/firms-logo/adidas_logo.png" alt=""></a>
        </div>
        <div class="nike-logo brands-logo">
          <a href=""><img src="../static/img/firms-logo/nike_logo.png" alt=""></a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- CLOSE BRANDS -->

<!-- RECENT RECEIPTS -->
<div class="container-fluid recent_receipts">
  <div class="container">
    <div class="wrap">
      <div class="wrap-block text-center">
        <span class='text-center'>Свежие поступления</span>
      </div>
    </div>
  </div>
</div>
<!-- CLOSE RECENT RECEIPTS -->

<!-- PRODUCTS -->
<div class="container-fluid products-bg">
  <div class="container">
    <div class="wrap">
      <div class="wrap-block">
        <div class="items text-center">
          {% for items in list_of_products %}
          <a href="product/{{items['id']}}">
            <div class="item" style="position: relative;">
              <div class="img-block"><img
                  src="{{ url_for('static', filename='img/products-img/' + items['src_of_img']) }}" alt=""
                  style="height:100%;width:80%;border-radius: 10px;margin-bottom: 15px;border-radius: 50%"></div>
              <div class="about" style="padding-top: 50px">
                <div class="about-items">
                  <h1>{{items['name_of_product']}}</h1>
                  {% if items['discount'] != None and items['discount'] != '' %}
                  <span>{{items['discount']}}руб.</span><span
                    style="display: block;position: absolute;top:10px;color: #fff;background-color: #E44235;border-radius: 50%;width: 60px;">{{ ((((items['price_product'] | int) - (items['discount'] | int)) / (items['price_product'] | int)) * 100) | int}}%</span>
                  {% else %}
                  <span>{{items['price_product']}}руб.</span>
                  {% endif %}
                </div>
              </div>
            </div>
          </a>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
<!-- CLOSE PRODUCTS -->
{% endblock %}