{%block products%}
<!-- PRODUCTS -->
<div class="container-fluid products-bg">
  <div class="container">
    <div class="wrap">
      <div class="wrap-block">
        <div class="items text-center">
          <a href="">

            <div class="item">
              <img src="../static/img/products-img/product1_photo.png" alt="">
              <h1>AIR JORDAN 6OG WHITE/INFRARED - BLACK</h1>
              <span>7990руб.</span>
            </div>

          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- CLOSE PRODUCTS -->
{% endblock %}